@import 'mixins';

.landing {
    position: absolute;
    display: block;
    opacity: 0;
    top: 0; /* Header Height */
    bottom: 0; /* Footer Height */
    overflow: hidden;
    background: url(../images/landing2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;

    &:after {
        content: '';
        position: absolute;
        display: block;
        top: 0; 
        bottom: 0; 
        width: 100%;
        overflow: hidden;
        background: rgba(215, 100, 200, .10);
    }


   .logo {
        position: absolute;
        top: 10%;
        left: 50%;
        margin: 0 -40%;
        z-index: 4;
        width: 100%;
        height: 100%;
        max-width: 80%;
        max-height: 80%;
        opacity: 0;
    }

    .circles {
        position: fixed;
        display: block;
        bottom: 0;
        left: 50%;
        margin-left: -175px;
        padding: 0;
        list-style-type: none;
        max-width: 500px;
        text-align: center;
        @include breakpoint(medium) {display: none;}
        @include breakpoint(small) {display: none;}
        @include breakpoint(xsmall) {display: none;}
        @include breakpoint(halfscreen) {display: none;}

        li {
            display: inline-block;
            width: 50px;
            height: 50px;
            border: 1px solid rgba(white, .20);
            background-color: rgba(black, .125);
            margin: 0 10px 0 10px;
            border-radius: 50%;
        }
    }

}

.mod-touch .menu-icon {
    opacity: .5!important;

    &:hover, &:active {
        opacity: 1!important;
    }
}

.mod-touch .landing {

        background: url(../images/landing2.jpg) no-repeat center center fixed;
        -webkit-background-size:  100%;
        -moz-background-size:  100%;
        -o-background-size:  100%;
        background-size:  100%;
        width: 100%;
        height: 100%;

        @include breakpoint(tablet-landscape){
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        height: 100%;
        }

        @include breakpoint(tablet-portrait){
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        height: 100%;

        .circles {
            display: block;
        }

        }
}