/*@mixin breakpoint($size) {
    @if $size == xsmall {
        @media only screen and (max-width: $break-xsmall) {
            @content;
        }
    }
    @else if $size == small {
        @media only screen and (min-width: $break-xsmall + 1) and (max-width: $break-small - 1) {
            @content;
        }
    }
    @else if $size == medium {
        @media only screen and (min-width: $break-small + 1) and (max-width: $break-medium - 1) {
            @content;
        }
    }
    @else if $size == large {
        @media only screen and (min-width: $break-medium) and (max-width: $break-large - 1) {
            @content;
        }
    } 
    @else if $size == xlarge {
        @media only screen and (min-width: $break-xlarge) {
            @content;
        }
    }
}*/
/*Set a rem font size with pixel fallback*/
/* useage 
    p {
        @include font-size(14px)
    }
*/
/* Animations and Keyframes */
/*usage

@include keyframes(move-the-object) {
  0%   { left: 100px; }
  100% { left: 200px; }
}

.object-to-animate {
  @include animation('move-the-object .5s 1', 'move-the-object-again .5s 1 .5s');
} 
*/
/*
    a {
  color: gray;
  @include transition(color .3s ease);
  &:hover {
    color: black;
  }
}
*/
/*
    .container-with-floated-children {
  @extend %clearfix;
}
*/
/*Usage 

<button class="mobile-navigation-trigger">
  <b class="visually-hidden">Open the navigation</b>
  <img src="img/mobile-navigation-icon.svg">
</button>

.visually-hidden {
  @extend %visuallyhidden;
}
*/
.landing {
  position: absolute;
  display: block;
  opacity: 0;
  top: 0;
  /* Header Height */
  bottom: 0;
  /* Footer Height */
  overflow: hidden;
  background: url(../images/landing2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%; }
  .landing:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    background: rgba(215, 100, 200, 0.1); }
  .landing .logo {
    position: absolute;
    top: 10%;
    left: 50%;
    margin: 0 -40%;
    z-index: 4;
    width: 100%;
    height: 100%;
    max-width: 80%;
    max-height: 80%;
    opacity: 0; }
  .landing .circles {
    position: fixed;
    display: block;
    bottom: 0;
    left: 50%;
    margin-left: -175px;
    padding: 0;
    list-style-type: none;
    max-width: 500px;
    text-align: center; }
    @media (max-width: 768px) {
      .landing .circles {
        display: none; } }
    @media (max-width: 320px) {
      .landing .circles {
        display: none; } }
    @media (max-width: 200px) {
      .landing .circles {
        display: none; } }
    @media (max-height: 800px) {
      .landing .circles {
        display: none; } }
    .landing .circles li {
      display: inline-block;
      width: 50px;
      height: 50px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      background-color: rgba(0, 0, 0, 0.125);
      margin: 0 10px 0 10px;
      border-radius: 50%; }

.mod-touch .menu-icon {
  opacity: 0.5 !important; }
  .mod-touch .menu-icon:hover, .mod-touch .menu-icon:active {
    opacity: 1 !important; }

.mod-touch .landing {
  background: url(../images/landing2.jpg) no-repeat center center fixed;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  width: 100%;
  height: 100%; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .mod-touch .landing {
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      width: 100%;
      height: 100%; } }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .mod-touch .landing {
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      width: 100%;
      height: 100%; }
      .mod-touch .landing .circles {
        display: block; } }

/*# sourceMappingURL=hello.css.map */